@media only screen and (min-width: 1024px) {
.red_banner {
  padding: 1em;
  top: 50%;
}
.title {
  font-size: 1.5em;
  font-weight: 900;
  margin: 0 auto;
  color: white;
  width: 50%;
  text-align: center;
}
.subtitle {
  font-size: 1em;
}
.invitation {
  text-align: center;
  margin: 1em 0 0 1em;
  font-size: 35px;
}
.gift_text {
  font-size: 30px;
  padding: 1em 2em 1em 2em;
  text-align: left;
}
.gift_text1 {
  font-size: 30px;
  text-align: center;
  padding: 2%;
}
.btn {
  font-size: 38px;
  padding: 10px 20px 10px 20px;
}
.wrap, {
   position: relative;

}
}