@media only screen and (min-width: 1024px) {
.red_banner, .red_banner1  {
  padding: 1em;
  top: 50%;
}
.title {
  font-size: 2em;
  font-weight: 900;
  margin: 0 auto;
  color: white;
  width: 50%;
  text-align: center;
}
.subtitle {
  font-size: 1em;
}
.invitation {
  text-align: center;
  margin: 1em 0 0 1em;
  font-size: 35px;
}
.gift_text {
  font-size: 30px;
  padding: 1em 2em 1em 2em;
  text-align: left;
}
.gift_text1 {
  font-size: 22px;
  padding: 0 5% 0 5%;
}
.gift_text2 {
  padding-top: 3%;
}
.btn {
  font-size: 38px;
  padding: 10px 20px 10px 20px;
}
.wrap, {
   position: relative;

}
}