@media only screen and (max-width: 768px) {
  body {
    text-align: center;
    max-width: 100%;
  }
.red_banner {
  padding: 1em 1em 1em 1em;
  position: absolute;
  top: 30%;
}
.title {
  font-size: 2em;
  font-weight: 900;
  margin: 0 auto;
  color: white;
  width: 100%;
  text-align: center;
}
.subtitle {
  font-size: 0.5em;
}
}