@media only screen and (max-width: 768px) {
  body {
    text-align: center;
    max-width: 100%;
  }
.red_banner, .red_banner1 {
  padding: 0.5em;
  position: absolute;
  top: 35%;
}
.title {
  font-size: 1.5em;
  font-weight: 900;
  margin: 0 auto;
  color: white;
  text-align: center;
}
.subtitle {
  font-size: 1em;
}
.ban {
  padding: 0.5em;
  max-width: 100%;
}
.gift_text {
  padding-top: 2%;
}
}