@media only screen and (min-width: 1700px) {
    body {
       background-color: rgb(242, 230, 255);
    }
    .container {
        width: 70%;
        margin: 0 auto;
        background-color: white;
    }
    .gift_text2 {
        padding-top: 3%;
    }
    .gift_text1 {
        padding: 0 5% 0 5%;
    }
  }